<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Register Form</title>
        <link rel="stylesheet" href="{{ url_for( 'static', filename='register.css' )  }}">
    </head>
    <body>
        <center>
            <div class="registerform">
                <h5>Sign up now</h5>
                <form action="/register" method="post">
                    <input class="txtbox" type="text" name="username" placeholder="User Name" value="">
                    <input class="txtbox" type="text" name="first" placeholder="First Name" value="">
                    <input class="txtbox" type="text" name="last" placeholder="Last Name" value="">
                    <input class="txtbox" type="text" name="email" placeholder="Email" value="">
                    <input class="txtbox" type="text" name="password" placeholder="Password" value="">
                    
                    <p>I agree to</p><a href="#"> terms and conditions.</a>

                    <input class="btn" type="submit" name="register" value="Register">

                    <center>
                        <a href="#">Already have an account?</a>
                        <a href="#">Back to Hompage</a>
                    </center>
                </form>
            </div>
        </center>
    </body>
</html>